TI1.2/SOAP_DOTNET_CONUNI_GR04/02.CLICON/CLICON_ConUni_DOTNET_GR04/CLICON_ConUni_DOTNET_GR04/Connected Services/ConUniRef/WSConUni.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CentimetrosAPulgadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cm" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentimetrosAPulgadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CentimetrosAPulgadasResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PulgadasACentimetros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inch" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PulgadasACentimetrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PulgadasACentimetrosResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusAFahrenheitResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitACelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="f" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitACelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheitACelsiusResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilogramosALibras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kg" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilogramosALibrasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KilogramosALibrasResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibrasAKilogramos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lb" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibrasAKilogramosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LibrasAKilogramosResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>